header {
    display: flex;
    flex-direction: row;
    color: blue;
}

header h1 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav li {
    border-radius: 5px;
    background: lightskyblue;
    margin: 2px;
    padding: 0 3px;
}

nav a {
    text-decoration: none;
    color: blue;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

nav a:hover {
    color: green;
}

main section {
    margin: 1em 0;
    background-color: lightblue;
    padding: 0.3ch;
    border-radius: 3px;
}

.section-nav {
    display: none;
    margin-top: 1ch;
    background: linear-gradient(to bottom, lightseagreen 0%, rgba(0,0,0,0) 150px);
    border-radius: 3px;
}

.section-nav li {
    border-radius: 5px;
    background: greenyellow;
    margin: 2px;
    padding: 0 3px;
}

.section-nav a {
    text-decoration: none;
    color: blue;
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
}

.section-nav a:hover {
    color: orangered;
}

main {
    padding: 0 1ch;
}

aside {
    display: none;
    background-color: lightgreen;
    padding-right: 1ch;
    border-radius: 3px;
}

footer {
    font-style: italic;
    color: lightseagreen;
    padding: 0 1ch 1ch 1ch;
    background: skyblue;
    border-radius: 3px;
    width: auto;
}

@media (min-height: 768px) {
    footer {
        position: fixed;
        bottom: 0;
    }
}


@media (min-width: 400px) {
    .container {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
            "header header"
            "navigation navigation"
            "main sidebar"
            "footer footer"
    }

    header {
        grid-area: header;
    }

    nav {
        flex-direction: row;
        grid-area: navigation;
    }

    nav ul {
        flex-direction: row;
    }

    main {
        grid-area: main;
    }

    .section-nav {
        grid-area: section-nav;
    }

    aside {
        grid-area: sidebar;
        display: block;
    }

    footer {
        grid-area: footer;
    }
}

@media (min-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas: 
            "header header header"
            "navigation navigation navigation"
            "section-nav main sidebar"
            "section-nav main sidebar"
            "footer footer footer"
    }
    
    .section-nav {
        display: block;
    }
}

@media (min-width: 1200px) {
    .container {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
            "header header header"
            "navigation main sidebar"
            "section-nav main sidebar"
            "footer footer sidebar"
    }

    nav ul {
        flex-direction: column;
    }
}
